.admin-container{
    /*padding-top: .5em;*/
    /*padding-bottom: .5em;*/
    border: 1px solid #a2a2a2;
    padding-top: 75px;
    background-color: #e9e7e7;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wrapper {
    display: flex;
    min-height: 100%;
}

.content-grid {
    display: flex;
}

.content-grid > div {
    flex: 1;
    margin: 0 20px 20px 0;
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.content-grid > div:last-child {
    margin-right: 0;
}

.content-grid h2 {
    margin: -15px -15px 15px -15px;
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}

.content-grid ul{
    list-style: none;
    padding: 0px;
}

.content-grid .column-right{
    flex: 50%;
    padding: 0 10px 0 0;
}

.content-grid .column-left{
    flex: 50%;
    padding: 0 0 0 10px;
}

.content-grid .content-right {
    text-align: right;
}

/*.content-grid li {*/
/*position: relative;*/
/*margin: 0 0 10px;*/
/*padding: 0 0 0 25px;*/
/*}*/

/*.content-grid li:before {*/
/*/*content: '\f00c';*/
/*/*font: normal 16px fontawesome;*/
/*top: 0;*/
/*left: 0;*/
/*color: #999;*/
/*}*/

.content-grid .cnt-headline{
    text-transform: uppercase;
    font-weight: bold;
}

.navcontent {
    flex: 1;
    padding: 25px;
    background: #e9e7e7;
    border-radius: 5px;
    /*display: none;*/
}

.navcontent .content-title {
    height: 80px;
    margin: -25px -25px 25px -25px;
    padding: 0 25px;
    line-height: 76px;
    font-size: 24px;
    font-weight: 400;
    background: #212830;
    color: white;
    border-radius: 5px;

}

.content-grid .check-option{
    text-align: left;

}

@media (min-width: 769px) {
    .top-nav a {

    }
    .admin-container {
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 1025px) {
    .admin-container {
        flex-direction: row;
        justify-content: space-between;
    }

}