* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0 !important;

}

.header-container{
    padding-top: .5em;
    padding-bottom: .5em;

    box-shadow: 14px 0px 0px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    position: fixed;

    z-index: 2;
    width: 100%;
    transition: background .5s;
    }

#header-containe.scrolled {
    background: #0a0a0a;
}





a {
    color: #34495e;
    text-decoration: none;
}

.top-nav {
    overflow: hidden;
    /*background-color: #333;*/
    align-items: center;

}

.top-nav a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: inherit;
    position: relative;
}

.top-nav .logo{
    margin-left: 10px;
}

.top-nav .logo img{
    height:50px;
}

.top-nav .nav-item{
    padding: 14px 12px;
}

.top-nav .icon {
    display: none;
    font-size:15px;
}

.top-nav a.right {
    float: right;
    padding: 14px 5px;
}

.right{
    margin-right: 10px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    /*font-size: 17px;*/
    font-size: inherit;
    border: none;
    outline: none;
    /*color: white;*/
    padding: 14px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.top-nav a:hover, .dropdown:hover .dropbtn {
    background: #f4f4f4;
    color: #718daa;
}

.dropdown-content a:hover {
    background: #ececec;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .top-nav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .top-nav a.icon {
        float: right;
        display: block;
        margin-right: 10px;
        padding: 12px 16px;
    }
    .top-nav .nav-item,
    .top-nav .dropdown .dropbtn{
        padding: 7px 16px;
    }
    .top-nav .dropdown .dropdown-content{
        padding: 0px 10px;
    }
}

@media screen and (max-width: 600px) {
    .top-nav.responsive {position: relative;}
    .top-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .top-nav.responsive .dropdown {float: none;}
    .top-nav.responsive .dropdown-content {position: relative;}
    .top-nav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

@media (min-width: 769px) {
    .top-nav a {
        /*display: flex;*/
        /*align-items: flex-end;*/
    }
    .header-container {

    }
}

@media (min-width: 1025px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

}
